# Файлы виртуального окружения
.venv/
venv/
env/

# База данных SQLite
*.sqlite3
db.sqlite3

# Конфигурация IDE (PyCharm)
.idea/

# Кэш и скомпилированные файлы Python
__pycache__/
*.pyc

# Папка, куда Django собирает все статические файлы
staticfiles/

# Локальные настройки (если вы решите их создать)
local_settings.py
