# Кэш Python и скомпилированные файлы
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения (замените на название вашей папки, если оно другое)
venv/
env/
.env/

# Локальные настройки редакторов кода
.idea/
.vscode/

# Специфичные файлы ОС (например, для macOS)
.DS_Store

# Файлы с секретами и паролями
.env